@import './../../../../scss/colors';

.wrapper{
    width: 85%;
    text-align: center;
    margin: 1.4rem auto;
    color: $greyDark;
}

.input{
    &Wrapper{
        margin-bottom: 2.4rem;
    }

    &Title{
        flex: 1;
        text-align: 'center';  

        &Wrapper{
            display: flex;
            align-items: center;
            margin-bottom: .4rem;
            text-align: center;
        }
    }

    &Icon{
        font-size: 1.2rem;
    }
}

.textField{
    margin-top: .4rem !important;
}