@import './../../../../scss/colors';
@import './../../../../scss/fonts';

.grid{
    padding: 0 !important;
    margin: 0 !important;
}

.entrega{
    display: inline-block;
    margin: .2rem;
    width: 12.4rem;
    cursor: pointer;
    transition: transform .15s ease-in-out;

    &Title{
        padding: .15rem 0;
        padding-left: .5rem;
        display: flex;
        
        &Text{
            white-space: nowrap;
            overflow: hidden;
            color: $black3;
            text-align: center;
        }

        &Icon{
            display: flex;
            align-items: center;
            margin-right: .5rem;
            color: $black;
        }
    }

    &TimerWrapper{
        background-color: $shadow;
    }
    
    &DiasRestantes{
        color: $white3;
        display: flex;
        justify-content: center;
        align-items: center;

        &Text{
            color: $white3;
            margin-right: 1rem;
        }

        &Number{
            font-size: 2rem;
        }
    }

    &Date{
        font-family: 'PT Sans Narrow', sans-serif;
        color: $greySemiLight;
        text-align: center;
        font-size: .85rem;
        padding-bottom: .6rem;
    }

    &:hover{
        transform: scale(1.025) !important;
    }
}