@import './../../../scss/variables.scss';

.closeButtonWrapper{
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover{
        background-color: $redDark;
    }
}

.windowTitle{
    color: $greySemiLight;
    padding-left: 0.6rem;

    display: flex;
    align-items: center;
}

