@import './../../../scss/_colors.scss';

.asignaturasWrapper{
    background-color: $white;
    height: 360px;
}

.asignaturas{
    margin: 0 !important;
    padding: 0 !important;
}

.asignatura{
    width: 100%;
    padding: .6rem;

    display: flex;
    justify-content: space-between;
    
    cursor: pointer;
    transition: background-color .15s;
    &:hover{
        background-color: $white3;
    }
    
    &Wrapper{
        padding: 0 !important;
        border: $greyLight 1px solid;
    }

    &Title{
        display: flex;
        align-items: center;
    }

    &Icon{
        font-size: 2.4rem;
        margin-right: 1rem;
    }

    &Entregas{
        &Icon{
            color: $greyDark;
            font-size: 1.4rem;
        }
    }
}

