@import './../../../scss/variables.scss';

$menuBorder: $greySemiLight solid 1px;

.asignaturasWrapper{
    background-color: $white;
    height: 360px;
}

.asignaturasMenu{
    margin: 0 !important;
    padding: 0 !important;
    background-color: $greyLight;
    height: 100%;
    
    &Wrapper{
        height: 360px;
    }

    &Item{
        border-bottom: $menuBorder !important;
    }

    &Icon{
        font-size: .85rem;
    }
}

.asignaturas{
    margin: 0 !important;
    padding: 0 !important;
}

.asignatura{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    &Wrapper{
        padding: 0.4rem 1rem !important;
        border: $greyLight 1px solid;
    }

    &Title{
        display: flex;
        align-items: center;
    }

    &Icon{
        font-size: 2.4rem;
        margin-right: 1rem;
    }

    &Entregas{
        &Icon{
            color: $greyDark;
            font-size: 1.4rem;
        }
    }
}

