@import './../../../scss/colors';

$menuBorder: $greySemiLight solid 1px;

.asignaturasMenu{
    margin: 0 !important;
    padding: 0 !important;

    &Wrapper{
        background-color: $greyLight;
        height: 100%;
    }

    &Item{
        border-bottom: $menuBorder !important;
    }

    &Icon{
        font-size: .85rem;
    }
}