@import './../../../../scss/_colors.scss';

.toggleIcon{
    color: $white;
    font-size: 4rem;
    transition: opacity .3s, transform .6s;
    z-index: 12;   

    &Animation{
        transform: rotate(45deg);
    }
}

.toggleButtonWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-image: radial-gradient($blueSemiLight, $blue);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    z-index: 10;

    transition: box-shadow .2s;

    &:hover{
        box-shadow: $greyLight 0px 0px 4px;
    }
}

.redGradient{
    opacity: 0;
    
    position: absolute;
    top:  0;
    
    background-image: radial-gradient($red, $redSemiLight);
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    z-index: 11;
    transition: opacity .4s;

    &Show{
        opacity: 1;
    }
}