//Colors
$blue: #459bd4;
$blueSemiLight: #98c8e7;
$blueLight: #c1def1;
$blueSemiDark: #2b82ba;
$blueDark:#226591;

$green: #58c256;
$greenSemiLight: #7dd07c;
$greenLight: #a2dda1;
$greenSemiDark: #3ea93d;
$greenDark: #31832f;

$red: #d67272;
$redSemiLight: #e08888;
$redLight: #dfb4b4;
$redSemiDark: #b45b5b;
$redDark: #803939;

$grey: #a7a7a7;
$greySemiLight: #bbbbbb;
$greyLight: #cecece;
$greySemiDark: #8d8d8d;
$greyDark: #636363;


$white: rgb(248, 248, 248);